body {
    background-color: black;
    font-family: 'Allan', cursive;
    color: white;
}
.imagen-secundaria {
    width: 150px; 
    height: 150px;
}
.imagen-principal {
    width: 1334px;
    height: 400px;
    max-width: auto;
}
.discografia {
    margin-bottom: 60px;
}
h1 {
    font-size: 80px;
    text-align: center;
}
h2 {
    font-size: 40px;
    text-align: left;
}
p {
    font-size: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.redes { 
    width: 20px;
    height: 20px;
}